body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 150px;
    min-height: 90vh;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

/***************** HEADER ******************/

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: black;
}
.nav__list{
    display: flex;
    list-style: none;
}
.nav__item{
    border-right: 1px solid black;
}
.nav__item--not--border{
    border: initial;
}
.nav__item{
    padding: 0px 20px;
}

/***************** INDEX **************/

.main__index{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10rem 0rem;
}
.main__image__profil{
    width: 40%;
    min-width: 400px;
    max-width: 480px;
    border-radius: 50%;
    margin-right: 80px;
    cursor: pointer;
}
.about{
    width: 25rem;
}
.about__title{
    font-size: 5rem;
    margin-bottom: 20px;
    margin-top: 0px;
}
.about__my{
    font-size: 1.7rem;
    font-weight: 470;
    margin-bottom: 0px;
}
.about__description{
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 50px;
}
.myDescription strong{
    font-weight: bold;
}
.button{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.button__item{
    width: 6.5rem;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    border: 0.2px solid black;
    font-size: 1.1rem;
}
.button__cv{
    background-color: orange;
}
.button__projets{
    background-color: red;
}
.button__contact{
    background-color: #80d8da;
}

/*********************** FOOTER ********************/

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.footer__nav{
    width: 100%;
    border-top: 1px solid rgba(218, 211, 211, 0.99);
}
.footer__list{
    display: flex;
    width: 98%;
    justify-content: space-between;
}
.item__title{
    font-weight: bolder;
    margin: 1rem 0rem;
}
.footer__copyrigth{
    margin: 1rem 0rem;
}
.nav__reseau__sociaux{
    display: flex;
    justify-content: space-between;
}
.nav__sociaux__item{
    font-size: 1.5rem;
}

/****************** CV *******************/

.main__cv{
    padding: 0px 6.3rem;
}
.main__cv__title{
    font-size: 1.8rem;
    margin-bottom: 2.7rem;
}
.interligne--line--height{
    line-height: 1.88rem;
}
.section__item__list{
    border-top: 1px solid rgb(202, 196, 196);
    margin-top: 50px;
}
.section__item__list--not--border{
    border: none;
}
.section__item__list__title{
    font-size: 1.4rem;
    margin-bottom: 2.3rem;
    margin-top: 50px;
}
.article__item__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.article__item__title{
    margin-bottom: 0px;
}
/****************** PROJETS ***************/
.main__projets{
    padding: 0% 5%;
}
.main__projets__title{
    font-size: 2rem;
}
.section__content{
    padding: 2rem;
}
.section__content__list{
    display: flex;
    justify-content: space-between;
}
.section__content__item{
    width: 40%;
}
.projets__picture{
    width: 40%;
    border: 30px solid #dfdfdf;
}
.projets__picture__content{
    width: 100%;
}

/****************** CONTACT ***************/

.main__contact{
    /* padding: 0% 10%; */
    font-size: 1.15rem;
}
.container__title{
    font-size: 1.8rem;
}
.section__container{
    display: flex;
    justify-content: space-evenly;
}
.input__group{
    display: flex;
    gap: 6%;
    margin-bottom: 10px;
}
.input__item{
    height: 1.9rem;
}
.input__item, .textarea{
    width: 15rem;
}
textarea{
    height: 150px;
}
.input__item, .textarea--width{
    margin-top: 10px;
}
.input__group--align--item{
    align-items: flex-end;
}
.button__envoyer{
    border-radius: 50%;
    height: 160px;
    width: 160px;
    background-color: orange;
    border: 0.2px solid black;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
}

/*-------------------------RESPONSIVE---------------------*/


/********************* RESPONSIVE-TABLETTE *****************************/

@media screen and (max-width: 1023px){

    /*--------------RESET-TABLETTE-------------*/

    body{
        padding: 0rem 2.3rem;
    }

    /*--------------HEADER-TABLETTE-------------*/

    .header{
        flex-direction: row;
    }
    .header__logo{
        display: flex;
        align-items: center;
        height: auto;
        font-size: auto;
    }
    .nav__list{
        padding: 0;
    }

     /*--------------INDEX-TABLETTE-------------*/

     .main__index{
        flex-direction: column;
        margin:5rem 0rem;
    }
    .main__image__profil{
        margin-right: 0;
        min-width: 290px;
        max-width: 500px;
        width: 70%;
    }
    .about{
        width: 75%;
        text-align: center;
    }
    .about__title{
        font-size: 3.7rem;
        margin-bottom: 0px;
        margin-top: 4rem;
    }
    .about__my{
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .about__description{
        font-size: 1.05rem;
        margin-bottom: 2rem;
    }
    .button{
        justify-content: center;
    }
    .button__item{
        width: 7.2rem;
        height: 7.2rem;
        margin-left: 1.15rem;
    }
    .button__item:first-child{
        margin-left: 0;
    }

    /*--------------CONTACT-TABLETTE------------*/

    .main__contact{
        font-size: 1.16rem;
    }
    .container__title{
        font-size: 1.8rem;
    }
    .section__container{
        flex-direction: column;
        justify-content:initial;
        align-items: center;
        margin-top: 3.5rem;
    }
    .item__description__contact{
        text-align: center;
        margin-bottom: 3rem;
    }
    .form{
        width: 100%;
    }
    .input__group{
        justify-content: space-between;
        gap:initial;
        margin-bottom: 10px;
    }
    .input__item{
        margin-bottom: 1rem;
    }
    .input__item, .textarea,.button__submit--aligne{
        width: 40vw;
    }
    .textarea{
        margin-bottom: 1.5rem;
        resize : none;
    }
    .input__group--align--item{
        align-items: center;
    }
    .button__submit--aligne{
        display: flex;
        align-items: flex-end;
    }
    .button__envoyer{
        border-radius: 50%;
        height: 140px;
        width: 140px;
        font-size: 1rem;
    }

    /*---------------PROJETS-TABLETTE------------*/

    .main__projets{
        padding: 0%;
        margin-top: 2rem;
    }
    .main__projets__title{
        font-size: 1.8rem;
        margin-bottom: 0;
    }
    .section__content{
        padding: 0.6rem 0;
    }
    .section__content__item{
        width: 40%;
    }
    .section__content__title{
        font-size: 1.1rem;
    }
    .projets__picture{
        width: 50%;
        border: 25px solid #dfdfdf;
    }

    /*---------------CV-TABLETTE-------------*/

    .main__cv{
        padding: 0px 1rem;
    }
    .main__cv__title{
        font-size: 1.5rem;
        margin-bottom: 2.7rem;
        margin-top: 4rem;
    }
    .section__item__list__title{
        font-size: 1.17rem;
        margin-bottom: 1.5rem;
    }
    .section_list__puce{
        padding-inline-start: 20px;
    }
    .section_list__puce--padding{
        padding-inline-start: 30px;
    }
    .section_list__puce__item{
        padding: 0 1px;
    }

    /*--------------FOOTER-TABLETTE------------*/

    .footer{
        font-size: 0.9rem;
    }
    .footer__item{
        margin-bottom: 1.3rem;
    }
    .footer__nav{
        width: 100%;
    }
}
    /***************RESPONSIVE-SMART-PHONE**************/

@media screen and (max-width: 767px){

    /*----------RESET-SMART-PHONE----------*/

    body{
        padding: 0;
    }

    /*---------HEADER-SMART-PHONE---------*/

    .header{
        flex-direction: column;
    }
    .header__logo{
        height: 3rem;
        font-size: 1rem;
    }

    /*----------INDEX-SMART-PHONE---------*/

    .main__index{
        margin:4rem 0rem;
    }
    .main__image__profil{
        min-width: 290px;
        max-width: 400px;
        width: 85%;
    }
    .about{
        width: 90%;
    }
    .about__title{
        font-size: 2.8rem;
    }
    .about__description{
        font-size: 0.95rem;
        margin-bottom: 50px;
    }
    .button__item{
        width: 4.9rem;
        height: 4.9rem;
        margin-left: 1rem;
        font-size: 0.97rem;
    }

    /*----------CONTACT-SMART-PHONE---------*/

    .main__contact{
        font-size: 1.11rem;
    }
    .container__title{
        font-size: 1.5rem;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input__group{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .input__item{
        margin-bottom: 1rem;
    }
    .input__item, .textarea{
        width: 90vw;
    }
    .textarea{
        margin-bottom: 1.5rem;
        resize : none;
    }
    .input__group--align--item{
        align-items: center;
    }
    .button__submit--aligne{
        display: bloc;
        width: auto;
    }
    .button__envoyer{
        border-radius: 50%;
        height: 140px;
        width: 140px;
        font-size: 1rem;
    }

    /*--------------PROJETS-SMART-PHONE------------*/

    .main__projets{
        margin-top: 1.8rem;
    }
    .main__projets__title{
        text-align: center;
    }
    .main__projets__title{
        font-size: 1.55rem;
        margin-bottom: 0;

    }
    .section__content{
        padding: 0.6rem;
    }
    .section__content__list{
        flex-direction: column-reverse;
    }
    .section__content__item{
        width: auto;
    }
    .section__content__title{
        font-size: 1.1rem;
    }
    .projets__picture{
        width: auto;
        border: 15px solid #dfdfdf;
    }

    /*---------------CV-SMART-PHONE-------------*/
    .section__item__list__title{
        font-size: 1.17rem;
        margin-bottom: 1.5rem;
    }
    .article__item__header{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .section_list__puce--padding{
        padding-inline-start: 30px;
    }

    /*-----------FOOTER-SMART-PHONE--------*/

    .footer{
        font-size: 1rem;
    }
    .footer__list{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__nav{
        width: 90%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1135px) {
    .button__item{
        width: 6rem;
        height: 6rem;
        margin-left: 1rem;
    }
}



